<!DOCTYPE html>
    

<html lang="eng">
<head>
	<meta charset="UTF-8">
	<title>Daniil Sobolev</title>

	<script type="text/javascript" src="/static/js/script.js"></script>


	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,500,900&amp;subset=cyrillic" rel="stylesheet">
    
	<link href="https://fonts.googleapis.com/css?family=Lexend+Tera&display=swap" rel="stylesheet">
    
	<link href="https://fonts.googleapis.com/css?family=Lexend+Giga|Lexend+Tera&display=swap" rel="stylesheet">
    
	<link rel="stylesheet" type="text/css" href="static/fontawesome-free-5.10.1-web/css/all.css">
    
	<link rel="stylesheet" href="/static/css/style.css">

</head>

<body id='body'>

	<i id='scrollTop' class="fas fa-arrow-up" onclick="goUp()"></i>
	<div class="main">
	<header class="header">
		<div class="container">
			<nav class="nav" id="menu-nav">
				<ul class="menu">
					<li>
						<a href="#">
							Daniil Sobolev
						</a>
					</li>

					<li>
						<a href="#about-me">
							About me
						</a>
					</li>

					<li>
						<a href="#projects">
							Projects
						</a>
					</li>

					<li>
                        <a href="https://likeeman1.pythonanywhere.com">
							Curriculum vitae
						</a>
					</li>
				</ul>
				<div class="contact-footer">
						daniil.sob56@gmail.com
				</div>
			</nav>
		</div>

		<div class="about-me">
			<div class="about-me-text">
				<span class="name">
					Daniil Sobolev
				</span>
				<p></p>
				Full stack developer from St. Petersburg
				<br>
				Good experience in Python and Django
			</div>
		</div>

	</header>

	</div>
	<div class="main-info" id="about-me">
		<div class="experience" id="main-info">
			<span class="my-experience">
				My skills
			</span>
			<div class="myself">
				Hello everyone, my name is Daniil. I am a developer from St. Petersburg, Russia.
				<br>
				Right now i am studying at St. Petersburg state university of Economics. I usually work on backend, but frontend is my strong side as well.
				<br>
				I have a good knowledge and experience in Python, especially in Django/Flask frameworks.
				<br>
				Experienced in JS, JQuery and AJAX as well.
			</div>
			<div class="skills">
				<div class="skill1">
					<ul class="main-skill1">
						<span class="span-skill1">
							Software development
						</span>
						<li>
							Python, Django/Flask
						</li>
						<li>
							HTML5, CSS3, JavaScript
						</li>
						<li>
							Cloud computing, APIs
						</li>
					</ul>


				</div>

				<div class="skill2">
					<ul class="main-skill2">
						<span class="span-skill2">
							Community
						</span>
						<li>
							Open source projects on Github
						</li>
						<li>
							Experience with building websites
						</li>
						<li>
							Intermediate English level
						</li>
					</ul>
				</div>
			</div>
		</div>


	</div>
    <div class="tech" id="projects">
		<div class="projects" id='main-projects'>
			<span class="project-title">
				Projects
			</span>
			<div class="project-body">
				<table>
					<tr class="border1">
						<td class="table-title">
							Title
						</td>
						<td class="table-description">
							<strong>Description</strong>
						</td>
						<td class="table-lang">
							<strong>Languages</strong>
						</td>
						<td class="table-star">
							<strong>Link</strong>
						</td>
					</tr>

					<tr>
						<td>
							Application
						</td>
						<td>
							Simple app for making notes (made as a small school project)
						</td>
						<td>
							Python
						</td>
						<td>
							<a href='https://github.com/dansobolev/my_python/tree/master/Project_semester' target="_blank">GitHub</a>
						</td>
					</tr>

					<tr>
						<td>
							Website
						</td>
						<td>
							The project hasn't finished yet
						</td>
						<td>
							Python + Django, HTML, CSS, JavaScript
						</td>
						<td>
							<a href="https://likeeman1.pythonanywhere.com" target="_blank">likeeman1.pythonanywhere.com</a>
                            <br>
                            <a href="https://github.com/dansobolev/project_again" target="_blank">GitHub</a>
						</td>
					</tr>

					<tr>
						<td>
							Website
						</td>
						<td>
							My own website with resume and projects
						</td>
						<td>
							Python + Flask, HTML, CSS, JavaScript
						</td>
						<td>
							<a href="https://dansobolev.herokuapp.com/">dansobolev.herokuapp.com</a> 
                            <br>
                            <a href="https://github.com/dansobolev/my_website" target="_blank">Github</a>
						</td>
					</tr>

					<tr>
						<td>
							Telegram Bot
						</td>
						<td>
							Telegram Bot which you can use as news tape
                            <br>
                            (Telegram bot's name: rss_test1_bot)
						</td>
						<td>
							Python
						</td>
						<td>
							<a href='https://github.com/dansobolev/my_python/tree/master/RSS_project' target="_blank">GitHub</a>
						</td>
					</tr>

				

				</table>
			</div>



		</div>
    </div>

	




	<footer class="footer">
		<div class="footer-main" id='footer'>
			<span class="footer-text">
				Stay connected
			</span>
			<div class="icons">
				<div style="font-size: 0.5rem;">
					<a href="https://vk.com/dansobolev" target="_blank">
						<i class="fab fa-vk fa-3x" ></i>
					</a>

					<a href="https://github.com/dansobolev" target="_blank">
						<i class="fab fa-github fa-3x"></i></a>
					</a>

					<a href="https://twitter.com/dansb_" target="_blank">
						<i class="fab fa-twitter fa-3x"></i>
					</a>

					<a href="https://t-do.ru/dansobolev" target="_blank">
						<i class="fab fa-telegram fa-3x"></i>
					</a>

					<a href="https://steamcommunity.com/id/r1gid/" target="_blank">
					<i class="fab fa-steam fa-3x"></i>
					</a>
				</div>
			</div>
		</div>
	</footer>

	<script src="static/js/main.js"></script>
</body>

</html>